[submodule "sysbox-fs"]
	path = sysbox-fs
	url = git@github.com:GAnthem/sysbox-fs.git
[submodule "sysbox-runc"]
	path = sysbox-runc
	url = git@github.com:GAnthem/sysbox-runc.git
[submodule "sysbox-ipc"]
	path = sysbox-ipc
	url = git@github.com:GAnthem/sysbox-ipc.git
[submodule "sysbox-mgr"]
	path = sysbox-mgr
	url = git@github.com:GAnthem/sysbox-mgr.git
[submodule "sysbox-libs"]
	path = sysbox-libs
	url = git@github.com:GAnthem/sysbox-libs.git
[submodule "sysbox-dockerfiles"]
	path = sysbox-dockerfiles
	url = git@github.com:GAnthem/dockerfiles.git
